<h3>Send with the following contents.</h3>
<%= form_with(model: @blog, url: blogs_path, local: true) do |form| %>
  <%= form.hidden_field :title %>
  <%= form.hidden_field :content %>
  <p>Title:<%= @blog.title %></p>
  <p>Text:<%= @blog.content %></p>
  <%= form.submit  "register" %>
  <%= form.submit "Return", name: 'back' %>
<% end %>
